.viewall_popup_menu_status_item
{
	width:129px;
}
.talk_numb_ext
{
	margin-top:-30px;
}
.language_links_box a.current_lang
{
	background:#6495ED;
}

.last_modifications ul
{
	margin-left:0px;
}
.talk_numb_ext a, .talk_numb_ext_wiki a
{
	margin-bottom:0px;
}
.talk_numb_ext_wiki
{
	width:130px;
}