/*controller:users*/
/*action:login*/
.login_box {
	margin:10px 10px 20px 10px;
}
.login_box input {
	border:1px solid orange;
}

/*action:logout*/
.logout_box {
	margin:10px 10px 20px 10px;
}

.logout_button a{
	margin:20px;
	padding:10px;
	background:orange;
	border:1px solid black;
/* 	width:30px; */
}