/*page division*/
.pageList {
	text-align:left;
	font:normal 14px/1 Verdana,arial;
	padding:10px;
}

div.pageList a {
	padding:5px 10px;
	border:1px outset #708090;
	color:#B0E0E6;
	background:#4169E1;
	margin-right:5px;
} 

/*view footer*/
.viewFooter {
	height:50px;
	border-top:1px solid #4169E1;
	padding-top:6px;
	margin-bottom:10px;
	background:#d1deed;
}

div.pageList a.currentPage
{
	font-weight:bold;
	background:#0000CD;
}